meta charset='utf-8'
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta name="renderer" content="webkit"
meta http-equiv="cleartype" content="on"
meta name="HandheldFriendly" content="True"
meta name="MobileOptimized" content="320"
meta name="turbolinks-cache-control" content="no-cache"
