doctype html
html
  head
		= render "layouts/meta"
		title = full_title(yield(:title))
		= render "layouts/shim"
		= content_for?(:head) ? yield(:head) : ''
		= render "layouts/pack_tags"
		= favicon_link_tag asset_pack_path("media/images/favicon.ico")
  body class=body_class
    main
      .container
        == yield
